{% extends 'app/component/base.html' %}
{% load static %}
{% block title %}Contect{% endblock title %}


{% block banner_slider %}

<div class="container mt-5 content_section_single ">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">We would love to hear from you!</p>
    <div class="col-md-8 offset-md-2">

        <div class="row flex justify-content-between">
            <div class="col-lg-6 mt-5">
                <h2>Hell Center</h2>
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <p>1. ยินดีต้อนรับสู่โลกของเรา เรามุ่งมั่นในการสร้างสรรค์และพัฒนาเพื่ออนาคตที่ดีกว่า
                    ถ้าคุณมีคำถามหรือข้อเสนอแนะ</p>
                <p>2. เรายินดีที่คุณสนใจในบริการของเรา ทีมงานของเราพร้อมเสมอที่จะช่วยตอบข้อสงสัยและให้คำแนะนำที่คุณต้องการ
                </p>
                <hr>
            </div>

            <div class="col-lg-6 mt-5">
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <h2>Success Stories</h2>
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <p>1. ยินดีต้อนรับสู่โลกของเรา เรามุ่งมั่นในการสร้างสรรค์และพัฒนาเพื่ออนาคตที่ดีกว่า
                    ถ้าคุณมีคำถามหรือข้อเสนอแนะ</p>
                <p>2. เรายินดีที่คุณสนใจในบริการของเรา ทีมงานของเราพร้อมเสมอที่จะช่วยตอบข้อสงสัยและให้คำแนะนำที่คุณต้องการ
                </p>
                <hr>
            </div>

            <div class="col-lg-6 mt-5">
                <h2>Press Enquiries</h2>
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <p>1. ยินดีต้อนรับสู่โลกของเรา เรามุ่งมั่นในการสร้างสรรค์และพัฒนาเพื่ออนาคตที่ดีกว่า
                    ถ้าคุณมีคำถามหรือข้อเสนอแนะ</p>
                <p>2. เรายินดีที่คุณสนใจในบริการของเรา ทีมงานของเราพร้อมเสมอที่จะช่วยตอบข้อสงสัยและให้คำแนะนำที่คุณต้องการ
                </p>
                <hr>
            </div>

            <div class="col-lg-6 mt-5">
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <h2>Security VuInerabilities</h2>
                <!-- รูปภาพที่มีแอนิเมชันเมื่อ Hover -->
                <p>1. ยินดีต้อนรับสู่โลกของเรา เรามุ่งมั่นในการสร้างสรรค์และพัฒนาเพื่ออนาคตที่ดีกว่า
                    ถ้าคุณมีคำถามหรือข้อเสนอแนะ</p>
                <p>2. เรายินดีที่คุณสนใจในบริการของเรา ทีมงานของเราพร้อมเสมอที่จะช่วยตอบข้อสงสัยและให้คำแนะนำที่คุณต้องการ
                </p>
                <hr>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div id="map" style="height: 100px;"></div>
        </div>
    </div>

</div>


{% endblock banner_slider %}