{% load static %}

<footer class="bg-success text-center text-lg-start ">
    <!-- Grid container -->
    <div class="container p-4 text-white">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Location</h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7560.10447249988!2d102.6322!3d17.96890!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3124695f9c8d4ef9%3A0x5045675218ceb10!2z4Lit4Lih4Li04LiZ4LiW4LiB4LiC4Lij4Lix4LiW4LiB4Lil4LmB4Liy4Lie4Lij4Liw4LiK4LiI!5e0!3m2!1sth!2sla!4v1633947071636!5m2!1sth!2sla"
                    width="300" height="200" style="border:2px solid #ffffff; border-radius:10px;" allowfullscreen=""
                    loading="lazy" class="p-1">
                </iframe>
            </div>


            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Support</h5>

                <ul class="list-unstyled mb-0 p-2">
                    <li>
                        <a href="#!" class="text-white text-decoration-none  " target="_blank" >Facebook:</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Whatsapp:</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Twitter:</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Gmail:</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">colcenter</h5>

                <ul class="list-unstyled mb-0 p-2 ">
                    <li>
                        <a href="https://www.facebook.com/" class="text-white" target="_blank">Sonephet LOYSURURYYA</a>
                    </li>
                    <li>
                        <a href="https://web.whatsapp.com/" class="text-white" target="_blank">+856 20 7871 9261</a>
                    </li>
                    <li>
                        <a href="https://x.com/?mx=2" class="text-white" target="_blank">loysouryyasonephet</a>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/u/0/?hl=en-GB#inbox/FMfcgzQXJbBKJVJwqhBdltVBqDTDWzdC"
                            class="text-white" target="_blank">loysouryyasonephet@gmail.com</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright:
        <a class="text-white" href="#">loysouryyasonephet@gmail.com</a>
    </div>
    <!-- Copyright -->
</footer>